.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc0cb;
  padding: 10px 20px;
}

.logo {
  font-weight: 600;
  font-size: 24px;
}

.nav-links a {
  margin: 0 10px;
  color: #000;
  font-weight: 400;
}
